/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MAIN */
main{
    height: 90vh;
    background-color: black;
}

.right{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

#padding{
    padding: 30px;
    display: flex;
    justify-content: end;
}

.size{
    width: 94%;
    padding-left: 4%;
}

.size > div{
    display: inline-block;
}

.back-grey{
    background-color: darkgray;
    opacity: 0.7;
}

.absolute{
    position: absolute;
}

.relative{
    position: relative;
    bottom: 22px;
}

/* FOOTER */
footer{
    background-color: rgb(59, 59, 59);
    height: 10vh;
    color: white;
}
footer > div > div{
    display: inline-block;
    padding-right: 8px;
}

footer > div{
    display: inline-block;
    padding-top: 20px;
}

#color-green{
    color: rgb(3, 181, 3);
}

.center{
    text-align: center;
    flex-direction: column;
}

#gran-1{
    width: 30%;
}

#gran-2{
    width: 55%;
    margin-right: 4%;
}

#gran-3{
    width: 10%;
}

#button-end{
    background-color: rgb(84, 84, 84);
    opacity: 0.9;
    color: red;
}